# Игнорировать виртуальное окружение (там тысячи файлов)
venv/
.venv/
env/

# Игнорировать кэш питона
__pycache__/
*.pyc

# Игнорировать мои админские скрипты
admin.py
START-ADMIN.bat
icon.ico

# Игнорировать исходник клиента (друзьям нужен только exe)
client.py

# Игнорировать сборки exe
dist/
build/
*.spec
*.exe

# Игнорировать логи и системные файлы
*.log
.DS_Store